body {
  padding-top: 100px;
}

a:hover{
  text-decoration: none;
  font-weight: bold;
}
#home {
  padding-bottom: 100px;
}

ul {
  padding-right: 20px;
}

#logo {
  margin-top: 10px;
}

#profile {
  border-radius: 50%;
}

section{
  padding-top: 4em;
  padding-bottom: 4em;
}

.bubbles {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 140px;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 10px;
  color: white;
  font-variant: small-caps;
  margin-bottom: 40px;
}

#projects {
  background-color: #CC0063;
}

#blog {
  background-color: #FE9601;
}

#contact {
  background-color: #00b796;
}

p {
  font-family: "varela round";
  font-size: 18px
}

#experience {
  background-color: #f8f8f8;
  padding-top: 4.5em;
}

.section-header {
  text-align: center;
  color: #222222;
  style: none;
  padding:1em;
  /*margin-bottom:50px;*/
}

section .subheading {
  text-align: center;
  padding-bottom: 1em;
}

.block {
  margin-top:15px;
  text-align:center;
  margin-bottom:50px;
}

.fa {
  color: #00b796;
}

.btn-default{
  background-color:none;
  color:#00b796;
  border:none;
  font-family:"Varela Round",sans-serif;
  font-variant:small-caps;
  font-size:20px;
}
.btn-default:hover{
    color:#00b796;
  }

#projectbuttons{
  text-align:center;
  margin-bottom:50px;
}

table{
  font-family: "varela round";
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f8f8f8;
}

.secondary-link{
  font-weight: lighter;
  font-size: .8em;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  color:#00b796;
}

#contactsection{
  background-color:#f8f8f8;
}
#contacthead{
  margin-bottom:50px;
  margin-top:70px;
}

#send-button{
  background-color:#00b796;
  color:white;
}

#send-button:hover{
  background-color:orange;
}

#send-button:target{
  background-color:orange;
}

.webs{
  padding-bottom:50px;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}
